RewriteEngine On
# Tvungen HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://treni.no/$1 [R=301,L]
# www -> apex (kanonisk adresse)
RewriteCond %{HTTP_HOST} ^www\.treni\.no$ [NC]
RewriteRule ^(.*)$ https://treni.no/$1 [R=301,L]
